* {
  margin: 0;
  padding: 0;
}

@keyframes bouncing {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0;
  }
}
body {
  font-family: "Ubuntu", "Roboto", "Montserrat", "Arial", sans-serif;
}

header {
  width: 100%;
  height: auto;
  background-color: #667D62;
}

.header-wrapper iframe {
  background-size: cover;
}

.header-section {
  width: 100%;
  background-color: #667D62;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.header-section ul {
  display: none;
}
.header-section .languages {
  display: flex;
  cursor: pointer;
  margin: 22px 0 0 70px;
}
.header-section .languages .en,
.header-section .languages .arrow-up {
  display: none;
}
.header-section .languages img {
  margin: 2px 0 0px 10px;
  width: 15px;
  height: 15px;
}
.header-section .title-text {
  text-align: center;
}
.header-section .title-text h2 {
  font-size: 15px;
}
.header-section .title-text img {
  width: 26vh;
  height: auto;
  margin: 10px 0;
}
.header-section .title-text hr {
  width: 100%;
  margin: 5px 0;
}
.header-section .title-text h5 {
  font-size: 12px;
}
.header-section button {
  background-color: unset;
  color: #fff;
  border: 1px solid #fff;
  padding: 15px;
  margin: 25px;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header-section button:hover {
  background-color: #fff;
  color: #000;
}
.header-section .down-arrow-header {
  text-align: center;
  position: relative;
}
.header-section .down-arrow-header img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  animation: bouncing 1.6s infinite ease-in-out;
  bottom: 0;
  display: block;
  left: 50%;
  margin-left: -25px;
  position: absolute;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-navBtn {
  color: #fff;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #fff;
  opacity: 0.6;
}

.swiper-pagination-bullet {
  background-color: #ebe3ff;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

article {
  padding: 60px 0px;
  width: 100%;
  color: #000;
  text-align: center;
}
article h3 {
  padding: 0 0 20px 0;
  font-weight: bold;
  font-size: 20px;
}
article .city {
  margin: 3px 0 15px 0;
  font-weight: 900;
}
article p {
  line-height: 30px;
  font-size: 16px;
}

section {
  width: 100%;
  color: #fff;
}

.rooms,
.restaurant,
.spa,
.pool,
.barbecue,
.events {
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 100vh;
}

.text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  margin: 10px;
  font-size: 16px;
  text-align: center;
}
.text-center p {
  margin-top: 5px;
}

h2 {
  font-size: 30px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  padding: 60px 0;
  font-size: 14px;
  color: #fff;
  background-color: #667D62;
  display: flex;
  justify-content: space-around;
}
footer .logo-footer img {
  width: 100px;
  height: auto;
}
footer a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
}
footer a:hover {
  text-decoration: underline;
}
footer a img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
footer .phone {
  margin: 15px 0;
}
footer .social-media {
  margin-top: 25px;
}
footer .social-media a img {
  width: 40px;
  height: 40px;
  opacity: 0.8;
}
footer .social-media a img:hover {
  opacity: 1;
  transition: color 0.3s ease;
}/*# sourceMappingURL=style.css.map */