* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", "Roboto", "Montserrat", "Arial", sans-serif;
}

header {
  width: 100%;
  height: auto;
}

iframe:hover {
  pointer-events: none;
  transition: all 0s;
}

.header-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-header {
  display: flex;
}
.left-header #burger-menu {
  margin-left: 3em;
}

#burger-menu {
  cursor: pointer;
  height: 1.7em;
  width: 1.7em;
  overflow: visible;
  position: relative;
  z-index: 2;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
  background: #fff;
  display: block;
  height: 4px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}

#burger-menu span:before,
#burger-menu span:after {
  content: "";
}

#burger-menu span {
  right: 0px;
  top: 13px;
  width: 27px;
}

#burger-menu span:before {
  left: 0px;
  top: -10px;
  width: 16px;
}

#burger-menu span:after {
  left: 0px;
  top: 10px;
  width: 20px;
}

#burger-menu.close span {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}

#burger-menu.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}

#burger-menu.close span:after {
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

#nav {
  z-index: 1;
  min-width: 100%;
  min-height: 77vh;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
#nav li {
  list-style: none;
}
#nav a {
  color: #fff;
  display: block;
  font-size: 26px;
  margin: 1em;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
#nav a:hover {
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

#nav ul {
  margin-top: 6em;
}

#nav.overlay {
  visibility: visible;
  opacity: 1;
  background: rgba(0, 0, 0, 0.6);
}

.languages {
  cursor: pointer;
  margin-left: 3em;
}
.languages a {
  text-decoration: none;
}
.languages span {
  display: none;
  color: #fff;
}
.languages span.selected {
  display: block;
}
.languages span:hover {
  transition: 0.6s ease-in-out;
  border-bottom: 0.15rem solid #fff;
}

.title-text {
  text-align: center;
}
.title-text h2 {
  font-size: 15px;
}
.title-text img {
  width: 26vh;
  height: auto;
}
.title-text hr {
  border: none;
  border-top: 0.15rem solid #fff;
}
.title-text h5 {
  font-size: 12px;
  margin-top: 0.5em;
}

button {
  background-color: unset;
  color: #fff;
  border: 1px solid #fff;
  padding: 15px;
  margin: 15px 20px 0 0;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background-color: #fff;
  color: #000;
}

#video {
  pointer-events: none;
}

.down-arrow-header {
  text-align: center;
  position: relative;
}
.down-arrow-header img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  animation: bouncing 1.6s infinite ease-in-out;
  bottom: 0;
  display: block;
  left: 50%;
  margin-left: -25px;
  position: absolute;
}

@keyframes bouncing {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0;
  }
}
.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-navBtn {
  color: #fff;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #fff;
  opacity: 0.6;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 2em;
}

.swiper-pagination-bullet {
  background-color: #ebe3ff;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

article {
  padding: 60px 0px;
  width: 100%;
  color: #000;
  text-align: center;
}
article h3 {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}
article .city {
  margin: 3px 0 15px 0;
  font-weight: 900;
}
article p {
  line-height: 30px;
  font-size: 16px;
}

section {
  width: 100%;
  color: #fff;
}

.rooms,
.restaurant,
.spa,
.pool,
.barbecue,
.events {
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 100vh;
}

.text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  margin: 10px;
  font-size: 16px;
  text-align: center;
}
.text-center p {
  margin-top: 5px;
}

h2 {
  font-size: 2.7em;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 10px 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  padding: 60px 0;
  font-size: 14px;
  color: #fff;
  background-color: #667D62;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
footer .social-media {
  margin-top: 25px;
}
footer .social-media a img {
  width: 40px;
  height: 40px;
  opacity: 0.8;
}
footer .social-media a img:hover {
  opacity: 1;
  transition: color 0.3s ease;
}
footer a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
footer a:hover {
  text-decoration: underline;
}
footer a img {
  width: 1.1em;
  margin-right: 0.4em;
}
footer .phone {
  margin: 15px 0;
}
footer .logo-footer img {
  width: 100px;
  height: auto;
}

#myBtn {
  margin: 0;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
}
#myBtn .arrow-up {
  width: 1.3em;
}

#myBtn:hover {
  background-color: #000;
}

@media (min-width: 320px) and (max-width: 480px) {
  iframe {
    width: 100%;
    height: 100vh;
  }
  #myBtn {
    right: 15px;
  }
  #myBtn .arrow-up {
    width: 2em;
  }
  .header-section {
    top: 2em;
  }
  .left-header #burger-menu {
    margin-left: 0.3em;
  }
  #burger-menu span {
    width: 0.5em;
  }
  #nav {
    min-height: 33vh;
  }
  #nav a {
    font-size: 16px;
    margin: 0.8em;
  }
  #nav ul {
    margin-top: 1em;
  }
  .languages {
    margin-left: 1.7em;
  }
  .languages span {
    font-size: 12px;
  }
  .title-text h4 {
    font-size: 8px;
  }
  .title-text img {
    width: 8vh;
    margin: 0;
  }
  .title-text hr {
    margin: 0;
    border-top: 0.1em solid #fff;
  }
  .title-text h5 {
    margin-top: 2px;
    font-size: 5px;
  }
  button {
    margin: 0;
    margin-right: 1em;
    padding: 6px;
    font-size: 8px;
  }
  .down-arrow-header img {
    width: 1em;
    height: 1em;
  }
  h1 {
    font-size: 18px;
  }
  article {
    padding: 1.5em 0;
  }
  article h3 {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
  }
  article .text-center p {
    font-size: 12px;
  }
  article .city {
    font-size: 12px;
    margin: 0 0 7px 0;
  }
  article p {
    font-size: 12px;
    padding: 2px 30px;
    line-height: 15px;
  }
  h2 {
    font-size: 20px;
  }
  .swiper {
    width: 100%;
    height: 35vh;
  }
  .swiper-wrapper h2 {
    font-size: 16px;
  }
  .swiper-wrapper .text-center {
    font-size: 12px;
    margin: 0;
    top: 70%;
  }
  .rooms,
  .restaurant,
  .spa,
  .pool,
  .barbecue,
  .events {
    width: 100%;
    height: 35vh;
  }
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after,
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    font-size: 15px;
  }
  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    width: 5px;
    height: 5px;
  }
  footer {
    padding: 1em 0 0 0.3em;
    display: block;
    text-align: center;
  }
  footer .social-media {
    margin-top: 1em 0;
  }
  footer .social-media a img {
    width: 30px;
    height: 30px;
    margin-top: 0;
    margin-bottom: 1.5em;
    opacity: 1;
  }
  footer a {
    font-size: 12px;
  }
  footer a img {
    width: 15px;
    height: 15px;
  }
  footer .phone {
    margin: 10px 0;
  }
  footer .logo-footer {
    margin-top: 1em;
  }
  footer .logo-footer img {
    width: 20%;
    height: auto;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  #myBtn {
    right: 10px;
  }
  #myBtn .arrow-up {
    width: 0.9em;
  }
  .header-section {
    top: 4em;
  }
  .left-header #burger-menu {
    margin-left: 0;
  }
  #burger-menu span {
    width: 0.5em;
  }
  #nav {
    min-height: 50vh;
  }
  #nav a {
    font-size: 20px;
    margin: 0.9em;
  }
  #nav ul {
    margin-top: 2em;
  }
  .languages {
    margin-left: 1.6em;
  }
  .languages span {
    font-size: 12px;
  }
  .title-text h4 {
    font-size: 12px;
  }
  .title-text img {
    width: 18vh;
  }
  .title-text hr {
    margin: 1px;
    border-top: 0.1em solid #fff;
  }
  .title-text h5 {
    margin-top: 2px;
    font-size: 8px;
  }
  button {
    margin: 0;
    margin-right: 2em;
    padding: 8px;
    font-size: 12px;
  }
  .down-arrow-header img {
    width: 1em;
    height: 1em;
  }
  h1 {
    font-size: 18px;
  }
  article {
    padding: 1.5em 0;
  }
  article h3 {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
  }
  article .text-center p {
    font-size: 12px;
  }
  article .city {
    font-size: 12px;
    margin: 0 0 7px 0;
  }
  article p {
    font-size: 12px;
    padding: 2px 30px;
    line-height: 15px;
  }
  h2 {
    font-size: 20px;
  }
  .swiper {
    width: 100%;
    height: 100vh;
  }
  .swiper-wrapper h2 {
    font-size: 16px;
  }
  .swiper-wrapper .text-center {
    font-size: 12px;
    margin: 0;
    top: 70%;
  }
  .rooms,
  .restaurant,
  .spa,
  .pool,
  .barbecue,
  .events {
    width: 100%;
    height: 100vh;
  }
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after,
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    font-size: 15px;
  }
  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    width: 5px;
    height: 5px;
  }
}/*# sourceMappingURL=style.css.map */